@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #15181D;
  color: #98ABB6;  
}
#logo{
  /* background-color: #98ABB6; */
  height: 105px;
  width: 190px;
}
@media (max-width: 600px) {
  #logo {
    display: none;
  }
}

#footer{
  background-color: #2A2C30;
}

#profilepic{
  border-radius: 50%;
}

   
